.idea/*.iml
.idea/misc.xml
.idea/workspace.xml
.idea/*.xml
.idea/*/*.xml
*.raw
*.mhd
*.hdf5
*.hdf5.*
*.h5.*
*.h5
*.npz
*.npy
*.7z
*.zip
*.pyc
*.mem
input/**/*.jpg
input/**/*.png
*/flow/*
.~lock.*
backup/*